:root {
  --main-maroon: #8b1f41;
  --main-orange: #e87722;
  --main-stone: #75787b;
  --main-teal: #508590;
}

/* product image */
.product-container {
  margin: 65px 0 0 0;
}
.product__image--large > img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.product__image--small {
  display: none;
}

/* product description */
.product__description {
  padding: 8px;
}

.product__description p {
  margin: 4px 0;
}

.product__description > p:nth-child(1) {
  font-size: 1.5rem;
}

.product__description > p:nth-child(2) {
  font-size: 1.5rem;
  color: var(--main-orange);
  font-weight: bold;
}

.product__description div a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-teal);
}

.product__description div p {
  display: inline-block;
}

.product__description > p:nth-child(4) {
  color: var(--main-stone);
}

.product__description button {
  padding: 8px 16px;
  font-size: 1rem;
  margin: 8px 0;
  background: var(--main-stone);
  border: 0;
  border-radius: 4px;
  color: white;
}

@media screen and (min-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 32px;
  }

  .product__image {
    flex: 1;
    display: flex;
  }

  .product__image--large {
    width: 60%;
    padding: 0 8px;
  }

  .product__image--large img {
    height: 500px;
  }

  .product__image--small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 8px;
  }

  .product__image--small img {
    object-fit: cover;
    width: 150px;
    height: 150px;
  }

  /* product description */
  .product__description {
    flex: 1;
  }

  .product__description > p {
    width: 600px;
  }

  .product__description > p {
    margin: 16px 0;
  }

  .product__description button {
    padding: 16px;
    margin: 32px 16px 0 0;
  }

  .product__description button:hover {
    padding: 16px;
    margin: 32px 16px 0 0;
    color: var(--main-stone);
    background: var(--main-orange);
    transition: 0.2s;
    cursor: pointer;
  }
}
