* {
  margin: 0;
  padding: 0;
}

:root {
  --main-maroon: #8b1f41;
  --main-orange: #e87722;
  --main-stone: #75787b;
  --main-teal: #508590;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main-maroon);
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
}

.main-header__left img {
  float: left;
  width: 80px;
  height: auto;
}

.main-header__right {
  display: flex;
  align-items: center;
}

.main-header__right img {
  float: left;
  width: 24px;
  height: auto;
  margin: 0 0 0 8px;
}

/* Advertise */
.advertise {
  margin: 60px 0 0 0;
}

.advertise img {
  width: 100vw;
  height: auto;
}

/* Product by Category */
.category {
  padding: 16px 8px;
}

.category > button:first-child {
  display: inline-block;
  border: 0;
  color: var(--main-orange);
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 8px 0;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.category-list > img {
  object-fit: cover;
  width: calc((100% - 16px) / 2);
  height: 180px;
}

.category button:nth-child(3) {
  float: right;
  border: 0;
  margin: 4px 0;
  font-size: 1em;
  font-weight: bold;
  color: var(--main-teal);
}

@media screen and (min-width: 768px) {
}
