{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" />

  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>

  {% block css %} {% endblock css %}
  <title>Virginia Tech Thrift Store</title>
</head>

<body>
  <!-- header -->
  <header>
    <div class="main-header">
      <div class="main-header__left">
        <a href="{% url 'thrifts:home' %}"><img src="{% static 'image/logo-white.png' %}" alt="logo" /></a>
      </div>
      <div class="main-header__middle">
          {% csrf_token %}

        <form action="{% url 'thrifts:list' %}" method="get">
          <label for="search-middle"></label>
          <input type="text" placeholder="Search for goods" id="search-middle" name="product" value="{{ name }}" required />
          <input type="submit" value="" />
        </form>
      </div>
      <div class="main-header__right">
        <a href="{% url 'thrifts:list' %}"><img src="{% static 'image/icon/search.svg' %}" alt="search" /></a>
        <div class="userbar">
          {% if request.session.username %}
          <span>Hi, {{ request.session.username }}.</span>
          {% else %}
          <span>Hi, Guest.</span>
          {% endif %}
          <img src="{% static 'image/icon/user.svg' %}" alt="user" />
          <div class="userbar__dropdown-content">

            {% if request.session.username %}
            <a href="{% url 'thrifts:home' %}">Dashboard</a>
            <a href="{% url 'users:profile' request.session.username %}">My Profile</a>
            <a href="{% url 'orders:home' request.session.username %}">My Order</a>
            <a href="{% url 'thrifts:sell' %}">Sell a thing</a>
            <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'thrifts:home' %}">Login</a>
            {% endif %}

          </div>
        </div>
        <a href="{% url 'carts:home' %}"><img src="{% static 'image/icon/cart.svg' %}" alt="cart" /></a>
        <div class="hambar">
          <img src="{% static 'image/icon/hambars.svg' %}" alt="menu" />
          <div class="hambar__dropdown-content">
            {% if request.session.username %}
            <a href="{% url 'thrifts:home' %}">Dashboard</a>
            <a href="{% url 'users:profile' request.session.username %}">My Profile</a>
            <a href="{% url 'orders:home' request.session.username %}">My Order</a>
            <a href="{% url 'thrifts:sell' %}">Sell a thing</a>
            <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'thrifts:home' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="menu-bar">
    <ol>
      <li><a href="{% url 'thrifts:list' %}?category=electronics">Electonics</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=fashion">Fashion</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=food">Food</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=home_decorations">Home Decorations</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=sports">Sports</a></li>
    </ol>
  </div>
  <!-- main content -->
  <div class="content">
  {% block container %} {% endblock container %}
  </div>
 
  <!-- footer -->
  <footer class="main-footer">
    <a href="#">Back to top &uarr;</a>
    <ol>
    {% if request.session.username %}
      <li><a href="{% url 'thrifts:home' %}">Dashboard</a></li>
      <li><a href="{% url 'users:profile' request.session.username %}">My Profile</a></li>
      <li><a href="{% url 'orders:home' request.session.username %}">My Order</a></li>
      <li><a href="{% url 'carts:home' %}">Shopping Cart</a></li>
    {% else %}
      <li><a href="{% url 'thrifts:list' %}?category=electronics">Electonics</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=fashion">Fashion</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=food">Food</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=home_decorations">Home Decorations</a></li>
      <li><a href="{% url 'thrifts:list' %}?category=sports">Sports</a></li>
    {% endif %}
    
    </ol>
    <div>Copyright &copy; Virginia Tech Thrift Store</div>
  </footer>

  <!-- message -->
  {% if messages %}
  {% for message in messages %}
  <div class="message" data-level="{{ message.tags }}">
    <span>{{ message }}</span>
    <button class="btn message-close">X</button>
  </div>
  {% endfor %}

  {% endif %}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>

</html>