{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
{% endblock css %}

{% block container %}
<div class="container-md py-5">
    <div class="register-container">
        <h3>{{user.username}}'s Profile Page</h3>
        <form id="register-user" action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group my-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{user.username}}"
                    disabled>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group my-3">
                        <label for="fName">First Name</label>
                        <input type="text" class="form-control" id="fName" name="fName"
                            placeholder="Enter your first name" value="{{user.first_name}}" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group my-3">
                        <label for="lName">Last Name</label>
                        <input type="text" class="form-control" id="lName" name="lName"
                            placeholder="Enter your last name" value="{{user.last_name}}" disabled>
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <label for="birth">Birth date</label>
                <input type="date" class="form-control" id="birth" name="birth" value="{{birth}}" disabled>
            </div>
            <div class="form-group my-3">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                    value="{{user.email}}" disabled>
            </div>
            {% if request.session.username == user.username  or request.session.role == 'admin'%}
            <a href="{% url 'users:edit' user.username %}" class="btn btn-danger">Edit profile</a>
            {% endif %}
        </form>
    </div>

    <h3 class="py-3">Comments</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {% include 'comments/comments.html' with seller_username=user.username%}
            </div>
            <div class="col-sm-12 col-md-6">
                {% include 'feeds/feeds.html' %}
            </div>
        </div>
    </div>

</div>
{% endblock container %}