{% extends 'base.html' %}
{% load static %}


{% block css %}

{% endblock css %}


{% block container %}
<div class="container-md py-5">
  <div class="register-container">
    <h3>Create an account</h3>
    <form id="register-user" action="{% url 'users:register' %}" method="POST">
      {% csrf_token %}
      <div class="form-group my-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter username">
      </div>
      <div class="form-group my-3">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email">
      </div>
      <div class="form-group my-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-secondary">Sign Up</button>
      <a href="{% url 'thrifts:home' %}" class=" btn btn-success">Log In</a>
    </form>
  </div>
</div>
{% endblock container %}