{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
  integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'thrifts/css/add.css' %}" />
{% endblock css %}
{% block container %}

{% if  request.session.username %}
<div class="breadcrum">
  <a href="{% url 'thrifts:home' %}">My Account</a>
  <span>></span>
  <span>Sell an item</span>
</div>
<!-- create product -->
<div class="create-product">
  <!-- product form -->
  <form class="create-form">
    <div class="create-form__left">
      <div>
        <label for="product">Product</label>
        <input type="text" id="product" name="product" placeholder="Airpods pro" />
      </div>
      <div>
        <label for="price">Price</label>
        <input type="text" id="price" name="price" placeholder="30" />
      </div>
      <div>
        <label for="category">Category</label>
        <select name="sorting">
          <option value=""></option>
          <option value="electronics">Electronics</option>
          <option value="fashion">Fashion</option>
          <option value="sports">Sports</option>
        </select>
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="The condition of your item."></textarea>
      </div>
      <div class="promotion-radio">
        <p>Promotion</p>
        <div>
          <input type="radio" id="promtion-a" name="promtion-a" />
          <label for="promtion-a">Plan A: Home page advertise</label>
        </div>
        <div>
          <input type="radio" id="promtion-b" name="promtion-b" />
          <label for="promtion-b">Plan B: Side bar advertise</label>
        </div>
      </div>
    </div>
    <div class="create-form__right">
      <!-- image upload -->
      <div>
        <label for="image">Image</label>
        <div>
          <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
          <button class="upload">Upload</button>
          <button>Delete</button>
        </div>
        <img src="#" alt="upload image" id="preview-image" />
      </div>
      <!-- post product -->
      <button type="submit" class="form-action-btn">Post</button>
      <a href="index.html"><button type="button" class="form-action-btn">Return</button></a>
    </div>
  </form>
</div>
{% endif %}
<div class="container vh-100">
  <h3>You do not have access to this page.</h3>
  <a href="{% url 'thrifts:home' %}">Login</a> to have explore more stuffs!
</div>
{% endblock container %}