{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'thrifts/css/detail.css' %}" />
<script src="{% static 'thrifts/js/detail.js' %}"></script>
{% endblock css %}

{% block container %}
<div class="product-container">
  <div class="product__image">
    <div class="product__image--large">
      <img src="{{ product.img.url }}" alt="image-large" />
    </div>
    <!-- <div class="product__image--small">
      <img src="{{ product.img.url }}" alt="image-small" />
      <img src="{{ product.img.url }}" alt="image-small" />
      <img src="{{ product.img.url }}" alt="image-small" />
    </div> -->
  </div>
  <div class="product__description">
    <p>{{ product.name }}</p>
    <p>$ {{ product.price }}</p>
    <div>
      <a href="{% url 'users:profile' product.seller %}">{{ product.seller }}</a>
      <p>{{ product.date_posted | naturaltime }}</p>
    </div>
    <p>
      {{ product.description }}
    </p>
    <button id="add-cart">Add to cart</button>
    <button id="checkout">Checkout</button>
  </div>
  <div>
    {%include 'comments/comments.html' with seller_username=product.seller %}
  </div>
</div>
{% endblock container %}