{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'thrifts/css/detail.css' %}" />
<script src="{% static 'thrifts/js/detail.js' %}"></script>
{% endblock css %}

{% block container %}
<div class="product-container">
  <div class="product__image">
    <div class="product__image--large">
      <img src="{% static product.img.0 %}" alt="image-large" />
    </div>
    <div class="product__image--small">
      <img src="{% static product.img.0 %}" alt="image-small" />
      <img src="{% static product.img.0 %}" alt="image-small" />
      <img src="{% static product.img.0 %}" alt="image-small" />
    </div>
  </div>
  <div class="product__description">
    <p>{{ product.name }}</p>
    <p>$ {{ product.price }}</p>
    <div>
      <a href="{% url 'thrifts:list' %}">{{ product.seller }} (20)</a>
      <p>{{ product.date_posted | naturaltime }}</p>
    </div>
    <p>
      {{ product.description }}
    </p>
    <button id="add-cart">Add to cart</button>
    <button id="checkout">Checkout</button>
  </div>


  {% if request.session.username %}
  <div class="seller">

    {% for comment in product.comments %}
    <div class="comment">
      <div>
        <a>{{ comment.buyer }}</a>
        <span>{{ comment.date_posted | naturaltime }}</span>
      </div>
      <p>{{ comment.comment }}</p>
    </div>

    {% endfor %}
    {% else %}
    <div class="seller">
      Login to see more comments.
    </div>
    {% endif %}
  </div>

</div>
{% endblock container %}