{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'thrifts/css/detail.css' %}" />
<script src="{% static 'thrifts/js/detail.js' %}"></script>
{% endblock css %}

{% block container %}
<div class="product-container container-fluid">
  <div class="row">
    <div class="product__image col-sm-12 col-md-4">
      <div class="product__image--large">
        <img src="{{ product.img.url }}" alt="image-large" />
      </div>
    </div>
    <div class="product__description col-sm-12 col-md-4">
      <p>{{ product.name }}</p>
      <p>$ {{ product.price }}</p>
      <div>
        <a href="{% url 'users:profile' product.user.username %}">{{ product.user.username }}</a>
        <p>{{ product.date_posted | naturaltime }}</p>
      </div>
      <p>
        {{ product.description }}
      </p>
      <button id="add-cart">Add to cart</button>
      <button id="checkout">Checkout</button>
    </div>
    <div class="col-sm-12 col-md-4">
      {%include 'comments/comments.html' with seller_username=product.seller %}
    </div>
  </div>

</div>
{% endblock container %}