{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'thrifts/css/home.css' %}" />
<script src="{% static 'thrifts/js/home.js' %}"></script>
{% endblock css %}
{% block container %}

<!-- if the user login, show the dashboard -->
{% if  request.session.username %}
<div class="container py-5 dashboard-container">
  <div class="row pt-5 pt-md-0">
    <div class="col-sm-12 col-md-6 selling-list-container">
      <!-- title of the list stuffs -->
      {% if request.session.role == 'admin' %}
      <h4>Total Listed Stuffs.</h4>
      {% elif request.session.role == 'regular' %}
      <h4>Your Listed Stuffs.</h4>
      {% endif %}

      <!-- single stuffs -->
      {% for selling in selling_list %}
      <section class="selling container-fluid" data-delete-url="{% url 'thrifts:delete' selling.id %}">
        <div class="row">
          <div class="col-3">
            <img src="{{ selling.img.url }} " alt="selling-snapshot">
          </div>
          <div class="col-6">
            <h4>{{ selling.name }}</h4>
            <h4>$ {{selling.price }}</h4>
            <p>{{ selling.date_posted | naturaltime }}</p>
          </div>
          <div class="col-3">
            <a href="{% url 'thrifts:edit' selling.id %}"><button class="btn btn-secondary">Edit</button></a>
            {% if request.session.role == 'admin' %}
            <button type="button" class="btn btn-danger selling-delete" data-toggle="modal"
              data-target="#confirmDeleteModal">Delete</button>
            {% endif %}
          </div>
        </div>
      </section>
      {% endfor %}

    </div>
    <div class="col-sm-12 col-md-6"></div>
  </div>
</div>


<!-- if the user does not login, show the login box -->
{% else %}
<div class="container py-5 login-container">
  <div class="row pt-5 pt-md-0">
    <div class="col-sm-12 col-md-6 py-5 py-md-0">
      <h1>Sign up.</h1>
      <h1>&</h1>
      <h1>Sell your stuffs @ <strong>VT Thrifts.</strong></h1>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Login</h3>
      <form method="POST" action="{% url 'thrifts:login' %}">
        {% csrf_token %}
        <div class="pb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" data-url="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you really want to delete this product?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The action can not be undo.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger selling-delete__confirm" data-dismiss="modal">
          Delete
        </button>
        <button type="button" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock container %}