{% load static %}
{% load humanize %}

<link rel="stylesheet" type="text/css" href="{% static 'comments/css/comments.css' %}" />
<script src="{% static 'comments/js/comments.js' %}"></script>

{% if request.session.username %}
<div class="add-comment-container d-flex">
    {% csrf_token %}
    <input type="text" class="w-100" id="add_comment" name="add_comment" placeholder="Leave a comment" />
    <button class="btn btn-secondary add-comment" data-url="{% url 'comments:add' %}"
        data-seller_username="{{ seller_username }}">Send</button>
</div>
{% endif %}

<div class="comment-container" data-delete-url="{% url 'comments:delete' %}" data-edit-url="{% url 'comments:edit' %}">
    {% for comment in comments %}
    <div class="form-group my-3">
        <a href="{% url 'users:profile' comment.buyer_username %}">{{ comment.buyer_username }}</a>
        <span>{{ comment.date_posted | naturaltime }}</span>
        {% if request.session.username == comment.buyer_username or request.session.role == 'admin' %}
        <button class="btn btn-outline-secondary btn-sm edit-comment" data-id="{{ comment.id }}">Edit</button>
        <button class="btn btn-outline-secondary btn-sm update-comment" data-id="{{ comment.id }}">Update</button>
        <button class="btn btn-outline-danger btn-sm delete-comment" id="delete-comment-{{comment.id }}"
            data-id="{{ comment.id }}">Delete</button>
        {% endif %}

        <input type="text" class="form-control" name="username" value="{{ comment.comment }}" disabled>
    </div>
    {% empty %}
    <div class="empty-container">There is no comment.</div>
    {% endfor %}
</div>