:root {
  --main-maroon: #8b1f41;
  --main-orange: #e87722;
  --main-stone: #75787b;
  --main-teal: #508590;
}

.login-container {
  height: 80vh;
}

.selling-list-container > h4 {
  padding: 8px;
  border-bottom: 1px solid var(--main-stone);
}

.selling {
  padding: 16px 0;
}

.selling img {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.selling button {
  float: right;
  margin: 4px;
}

@media screen and (min-width: 768px) {
  .login-container,
  .dashboard-container {
    min-height: 75vh;
  }

  .selling img {
    width: 100px;
    height: 100px;
  }
}
